<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome | | Zerohunger</title>
  <style>
  body {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
  }
  .btn {
    padding: 10px 15px;
    border: 0;
    outline: 0;
    color: white;
    background: blue;
  }
  .container {
    padding: 1em;
    margin: 1em;
  }
  </style>
</head>
<body>
<div class="container" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
<div>
<h1 class="card-title h1-responsive pt-3 mb-5 font-bold">Welcome {{ business_name }}</h1>
  <div class="card-text">
    <h5>Thanks for Registering with our organisation</h5>
    <p class="mx-5 mb-5"> You are recieving this mail because you signed up on <a href="/">Zerohunger</a></p>
    A website that allows farmer to sell goods directly to their consumer. This is inline with SDG Goal number 2 Goal 2 – Zero Hunger – pledges to end hunger, achieve food security, improve nutrition and promote sustainable agriculture, and is the priority of the World Food Programme. Every day, WFP and its partners work to bring us closer to a zero hunger world.
  </div>
  <p class="lead">
    <a href="#" role="button">
    <button class="btn">
      Learn more
    </button> </a>
  </p>
</div>

</div>
  
</body>
</html>